<div class="row">
  <div class="col-sm-12">
    <h1>Prüfungsanmeldung</h1>
    <p>Bitte wählen Sie die anzumeldene Prüfung aus unten stehender Struktur aus.</p>
  </div>
</div>
<div class="row top-buffer-sm">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Prüfungsnummer</th>
          <th>Bezeichnung</th>
          <th>Prüfer</th>
          <th>Status</th>
          <th class="text-center">Aktion</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pruefung in prAnCtrl.pruefungen | orderBy : 'name'">
          <td>{{ pruefung.id }}</td>
          <td>{{ pruefung.bezeichnung }}</td>
          <td>{{ pruefung.pruefer }}</td>
          <td ng-show="pruefung.status() == 'offen'">{{ pruefung.status() }}</td>
          <td ng-show="pruefung.status() == 'angemeldet'"><span class="label label-info">{{ pruefung.status() }}</span></td>
          <td ng-show="pruefung.status() == 'nicht bestanden'"><span class="label label-danger">{{ pruefung.status() }}</span></td>
          <td ng-show="pruefung.status() == 'bestanden'"><span class="label label-success">{{ pruefung.status() }}</span></td>
          <td ng-hide="pruefung.status() == 'bestanden' || pruefung.status() == 'angemeldet'" class="text-center"><button class="btn btn-sm btn-default" ng-Click="prAnCtrl.anmelden(pruefung)">Anmelden</button></td>
          <td ng-hide="pruefung.status() != 'bestanden' && pruefung.status() != 'angemeldet'" class="text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
